<%- include('partials/head') %>
<body>
    <link rel="stylesheet" href="/stylesheets/projects.css">
    
    <%- include('partials/header') %>
    
   <!--=============PROJECT LIST=======================-->

    <section class="col-12 pt-4" id="projects">
        <div class="container">
            <h2 class="text-center display-5 pt-3" id="headtitle">PROJECTS</h2>
        <div class="row p-4 ps-5" id="boxes">
            <div class="col-xl-4 p-4">
                <div class="box" id="w1">
                    <div class="box_body">
                        <div class="word"> <h3>BRAIN TUMOR SEGMENTATION USING MODIFIED DOUBLE UNET</h3> <div><svg xmlns="http://www.w3.org/2000/svg" width="25" height="50" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                            <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                            <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                          </svg></div></div>
                        <div class="content d-flex flex-column align-items-center justify-content-center">
                            <div>
                                <h3 class="fs-5">BRAIN TUMOR SEGMENTATION USING MODIFIED DOUBLE UNET</h3>
                                <p class="fs-6">It is an experemmental project where an existing model is been mofied and was tested on different parameters and have shown to produce better results than the orginal</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 p-4">
                <div class="box" id="w1">
                    <div class="box_body">
                        <div class="word"> <h3>SIGN LANGUAGE DETECTION USING CNN</h3> <div><svg xmlns="http://www.w3.org/2000/svg" width="25" height="50" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                            <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                            <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                          </svg></div></div>
                        <div class="content d-flex flex-column align-items-center justify-content-center">
                            <div>
                                <h3 class="fs-5">SIGN LANGUAGE DETECTION USING CNN</h3>
                                <p class="fs-6">It is a model created to detect sign language, in particularly American Sign Language using Convolutional Neural Network</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 p-4">
                <div class="box" id="w1">
                    <div class="box_body">
                        <div class="word"> <h3>FLASHCARD FOR LEARNING NEW WORDS</h3> <div><svg xmlns="http://www.w3.org/2000/svg" width="25" height="50" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                            <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                            <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                          </svg></div></div>
                        <div class="content d-flex flex-column align-items-center justify-content-center">
                            <div>
                                <h3 class="fs-5">FLASHCARD FOR LEARNING NEW WORDS</h3>
                                <p class="fs-6">It is a website that would help people to learn new words <br>
                                    which is presented in the form of a "Flash card"
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>  
    </section>

    <%- include('partials/footer') %>

</body>
</html>